<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercise Rep Counter</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<div class="container mt-5">
  <div class="row">
    <!-- Left Panel for Adjustability Buttons -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Adjustability</h3>
          <!-- Horizontal Adjustment -->
          <h4>Horizontal Adjustment</h4>
          <div class="row mt-3">
            <div class="col">
              <button class="btn btn-primary btn-block" id="moveLeftBtn">Move Left</button>
            </div>
            <div class="col">
              <button class="btn btn-primary btn-block" id="moveRightBtn">Move Right</button>
            </div>
          </div>

          <!-- Vertical Adjustment -->
          <h4 class="mt-3">Vertical Adjustment</h4>
          <button class="btn btn-primary btn-block mb-3" id="moveLeftBtn2">Move Up</button>
          <button class="btn btn-primary btn-block" id="moveRightBtn2">Move Down</button>
          <!-- Force Adjustment -->
          <h4>Force Adjustment</h4>
          <div class="row mt-3">
            <div class="col">
              <button class="btn btn-primary btn-block" id="moveLeftBtn3">-5 lb</button>
            </div>
            <div class="col">
              <button class="btn btn-primary btn-block" id="moveRightBtn3">+5 lb</button>
            </div>
          </div>

          <!-- Displayed Weight Number -->
          <h4 class="mt-3">Displayed Weight Number</h4>
          <p id="weightNumber">0 lbs</p>

        </div>
      </div>
    </div>
    <!-- Right Panel for Other Functions -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Exercise Functions</h3>
          <p>Select Exercise Type:</p>
          <select class="form-control mb-3" id="exerciseType">
            <option value="push">Push</option>
            <option value="pull">Pull</option>
          </select>
          <ul id="setList" class="list-unstyled"></ul>
          <p class="lead"><span id="repCount"></span></p>
          <p class="h6">Session ID: <span id="sessionIDValue"></span></p>
          <button class="btn btn-info mb-3" id="newSessionButton" onclick="createNewSession()">New Session</button>
          <p class="h6">Session Time: 00:00</p>
          <button class="btn btn-primary" id="setButton" onclick="setRunning ? stopSet() : startSet()">Start Set</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  let setRunning = false;
  let currentExerciseType = "";
  
  function createNewSession() {
    // Get the selected exercise type
    const exerciseTypeSelect = document.getElementById('exerciseType');
    const selectedExerciseType = exerciseTypeSelect.value;
    
    // Make an API call to create a new session
    fetch('/api/new_session', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
    })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // Update the HTML element with the new session ID
            document.getElementById('sessionIDValue').innerText = data.newSessionId;
            
            // Store the new session ID in local storage
            setSessionId(data.newSessionId);
            
            // Reset the sets list
            document.getElementById('setList').innerHTML = '';
        })
        .catch(error => {
            console.error('Error creating new session:', error);
        });
  }

  // Function to set the session ID in localStorage
  function setSessionId(sessionId) {
    localStorage.setItem('sessionId', sessionId);
  }

  // Function to get the session ID from localStorage
  function getSessionId() {
    return localStorage.getItem('sessionId');
  }

  // Function to generate a random session ID
  //function generateRandomSessionId() {
    //return Math.random().toString(36).substring(7);
  //}

  // On page load, check if the session ID is already set
  document.addEventListener('DOMContentLoaded', function () {
    let sessionId = getSessionId();

    // If no session ID is found, generate a new one and store it
    if (!sessionId) {
      sessionId = generateRandomSessionId();
      setSessionId(sessionId);
    }
    // Update the HTML element with the session ID
    document.getElementById('sessionIDValue').innerText = sessionId;
  });

  // Fetch the sets list when the page loads
  document.addEventListener('DOMContentLoaded', function() {
    fetch('/api/get_sets_list')
      .then(response => response.json())
      .then(data => {
        const setList = document.getElementById('setList');
        data.sets_list.forEach(set => {
          const listItem = document.createElement('li');
          listItem.textContent = set;
          setList.appendChild(listItem);
        });
      })
      .catch(error => console.error('Error fetching sets list:', error));
  });

  function startSet() {
    // Get the selected exercise type from the dropdown
    const exerciseTypeSelect = document.getElementById('exerciseType');
    currentExerciseType = exerciseTypeSelect.value;

    // Make an API call to start tracking
    fetch('/api/start_tracking', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ exerciseType: currentExerciseType }),
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        setRunning = true;
        updateSetButton();
      })
      .catch(error => {
        console.error('Error starting set:', error);
      });
  }

  function updateSetList(setNumber, reps) {
    const setList = document.getElementById('setList');
    const listItem = document.createElement('li');
    listItem.textContent = `Set ${setNumber}: ${currentExerciseType} - ${reps} reps`;
    setList.appendChild(listItem);

    // Update the sets list on the server-side
    fetch('/api/update_sets_list', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ set: listItem.textContent }),
    })
      .catch(error => console.error('Error updating sets list:', error));
  }

  function stopSet() {
    // Make an API call to stop tracking
    fetch('/api/stop_tracking')
      .then(response => response.json())
      .then(data => {
        console.log(data);
        setRunning = false;
        updateSetButton();
        updateSetList(data.setNumber, data.reps); // Update the set list
      })
      .catch(error => {
        console.error('Error stopping set:', error);
      });
  }

  function updateSetButton() {
    const setButton = document.getElementById('setButton');
    setButton.innerText = setRunning ? 'Stop Set' : 'Start Set';
  }

  // Call updateSetButton to set the initial state
  updateSetButton();
</script>

<script>
  let sessionRunning = false;
  let startTime;

  function updateTimer() {
    if (sessionRunning) {
      const currentTime = new Date().getTime();
      const elapsedTime = currentTime - startTime;

      const minutes = Math.floor(elapsedTime / (1000 * 60));
      const seconds = Math.floor((elapsedTime % (1000 * 60)) / 1000);

      const formattedTime = `${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;
      document.getElementById('sessionTimer').innerText = `Session Time: ${formattedTime}`;

      setTimeout(updateTimer, 1000);  // Update every second
    }
  }

  setInterval(() => {
    fetch('/api/get_rep_count')
      .then(response => response.json())
      .then(data => {
        document.getElementById('repCount').innerText = `Rep Count: ${data.rep_count}`;
      })
      .catch(error => console.error('Error fetching rep count:', error));
  }, 1000);

  // // WebSocket for real-time timer updates
  // const socket = io.connect('http://' + document.domain + ':' + location.port);
  // socket.on('update_timer', data => {
  //   document.getElementById('timer').innerText = data.time;
  // });
  
document.addEventListener("DOMContentLoaded", function() {
    let movementInterval;

    // Event listeners for the buttons
    $("#moveRightBtn").on("mousedown touchstart", function() {
        console.log("Move Right Button Pressed");
        movementInterval = setInterval(function() {
            updateSliderValue('right');
            updateSliderValue2('right');
        }, 100);
    });

    $("#moveLeftBtn").on("mousedown touchstart", function() {
        console.log("Move Left Button Pressed");
        movementInterval = setInterval(function() {
            updateSliderValue('left');
            updateSliderValue2('left');
        }, 100);
    });

    $("#moveRightBtn, #moveLeftBtn").on("mouseup touchend", function() {
        clearInterval(movementInterval);
        updateSliderValue('none');  // Send 'none' when button is released
        updateSliderValue2('none');
        console.log("Button Released");
    });
    
     // Event listeners for the buttons
    $("#moveRightBtn2").on("mousedown touchstart", function() {
        console.log("Move Right Button Pressed");
        movementInterval = setInterval(function() {
            updateSliderValue2('right');
        }, 100);
    });

    $("#moveLeftBtn2").on("mousedown touchstart", function() {
        console.log("Move Left Button Pressed");
        movementInterval = setInterval(function() {
            updateSliderValue2('left');
        }, 100);
    });

    $("#moveRightBtn2, #moveLeftBtn2").on("mouseup touchend", function() {
        clearInterval(movementInterval);
        updateSliderValue2('none');  // Send 'none' when button is released
        console.log("Button Released");
    });
    
    // Event listener for the button
    $("#moveRightBtn3").on("click", function() {
        moveStepper3(true); // Move to the right
        if (weightNumber < 15) { // Check if weightNumber is less than 15
        weightNumber += 5;
        updateWeightNumber();
      }
    });
    
    $("#moveLeftBtn3").on("click", function() {
        moveStepper3(false); // Move to the left
        if (weightNumber > 0) { // Check if weightNumber is greater than 0
        weightNumber -= 5;
        updateWeightNumber();
      }
    });
});
    let weightNumber = 0; // Initialize weight number

    // Function to update the displayed weight number
    function updateWeightNumber() {
      $("#weightNumber").text(weightNumber + " lbs");
    }
    
    function moveStepper3(direction) {
        // Make an API call to move the stepper motor
        fetch('/api/move_stepper3', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ direction: direction }),
        })
        .catch(error => {
            console.error('Error moving stepper motor 3:', error);
        });
    }

function updateSliderValue(direction) {
    // Make an API call to update the slider value on the server
    fetch('/api/update_slider_value', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ sliderDirection: direction }),
    })
    .catch(error => {
        console.error('Error updating slider value:', error);
    });
}

function updateSliderValue2(direction) {
    // Make an API call to update the slider value on the server
    fetch('/api/update_slider_value2', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ sliderDirection: direction }),
    })
    .catch(error => {
        console.error('Error updating slider value:', error);
    });
}

function updateSliderValue3(direction) {
    // Make an API call to update the slider value on the server
    fetch('/api/update_slider_value3', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ sliderDirection: direction }),
    })
    .catch(error => {
        console.error('Error updating slider value:', error);
    });
}

</script>

</body>
</html>